<h1><%= @cocktail.name %></h1>

<ul id="doses">
  <% @doses.each do |dose| %>
  <li class="dose">
    <%= dose.description %> <%= dose.ingredient.name %>
    <%= link_to dose_path(dose), method: :delete do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </li>
  <% end %>
  
  <li>
    <%= link_to new_cocktail_dose_path(@cocktail) do %>
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Add new dose
    <% end %>
  </li>
</ul>